<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>FarmFresh - Organic Farm Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'style.css' %}" rel="stylesheet">

    <style>

        .msg-btn{
            height:50px;
            width:50px;
            right:30px;
            float:right;
            position:fixed;
            z-index: 2;
            bottom:80px;
            background:transparent;
            border:none;
        }

        .msg-btn img{
            height:50px;
            width:50px;
        }
        .msg-box{
        height:400px;
        overflow:hidden;
        overflow-y:scroll;
        }
        .msg-box::-webkit-scrollbar{
        display:none;
        }
        .my-msg {
        display:flex;
        width: 60%;
        background:#b8f2c8;
        border-radius:15px;
        padding:3px 7px 3px 10px;
        margin-bottom:10px;
        color:#000;
        font-size:14px;

        }

        .another-msg {
        display:flex;
        float:right;
        width:60%;
        background:#c9d4cc;
        border-radius:15px;
        padding:3px 5px 3px 10px;
        color:#000;
        font-size:15px;
        margin-bottom:10px;
        }

        .user-icon{
            background:transparent;
            outline:none;
            border:none;
            border-radius:50%;

        }

        .profile{

            width:350px;
            right:15px;
            border-radius:15px;


        }

        .msg-box{
            z-index:-1;
            opacity:1;
            display:block;
            padding:20px 20px 20px 20px;

            background:url(/img/pattern.png);
        }



        {% block style %}{% endblock %}

    </style>

</head>

<body>


    <!-- Topbar Start -->
    <div class="container-fluid px-5 d-none d-lg-block">
        <div class="row gx-5 py-3 align-items-center">
            <div class="col-lg-3">
                <div class="d-flex align-items-center justify-content-start">
                    <i class="bi bi-phone-vibrate fs-1 text-primary me-2"></i>
                    <a href="tel:+88{{footer.contact}}"> <h2 class="mb-0">{{footer.contact}}</h2></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center justify-content-center">
                    <a href="/" class="navbar-brand ms-lg-5">
                        <h1 class="m-0 display-4 text-primary"><span class="text-secondary">{{footer.brandName}}</span> Farm</h1>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="d-flex align-items-center justify-content-end">
                    <a class="btn btn-primary btn-square rounded-circle me-2" href="{{footer.twitter}}"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-primary btn-square rounded-circle me-2" href="{{footer.facebook}}"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-primary btn-square rounded-circle me-2" href="{{footer.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-primary btn-square rounded-circle" href="{{footer.instagram}}"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-5">
        <a href="index.html" class="navbar-brand d-flex d-lg-none">
            <h1 class="m-0 display-4 text-secondary"><span class="text-white">{{footer.brandName}}</span>Fresh</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a href="/" class="nav-item nav-link {% block home %}{% endblock %}">Home</a>
                <a href="/about" class="nav-item nav-link {% block about %}{% endblock %}">About</a>
                <a href="/services" class="nav-item nav-link {% block services %}{% endblock %}">Service</a>
                <a href="/product" class="nav-item nav-link {% block product %}{% endblock %}">Product</a>
                <a href="/blog-posts" class="nav-item nav-link {% block pages %}{% endblock %}">Blog Posts</a>
                <a href="/contact" class="nav-item nav-link {% block contact %}{% endblock %}">Contact</a>

            </div>

        </div>
        {% if request.user.is_authenticated %}

            <div class="btn-group dropstart">

                <button type="button" class="user-icon" data-bs-toggle="dropdown" aria-expanded="false">

                    <img src="{{info.image.url}}" height="45px" width="45px" style="border-radius:50%;">

                </button>

                <ul class="dropdown-menu profile" >

                    <li class="nav justify-content-center">

                        <a class="" href="{{info.image.url}}"><img src="{{info.image.url}}" height="80px" width="80px" style="margin-top:10px; border-radius:50%;"></a>

                    </li>
                    <li class="nav justify-content-center">

                        <strong style="font-size:15px; color:#000;">@{{request.user}}</strong>
                    </li>
                    <li class="nav justify-content-center">
                        <span style="font-size:14px;">{{request.user.email}}</span>
                    </li>
                    <br>
                        <li><a class="dropdown-item" href="/setup-profile-information"><span class="far fa-user-circle"> </span> Account Info</a></li>
                        <li><a class="dropdown-item" href="#"><span class="fa fa-shopping-bag"> </span> My Orders</a></li>
                        <li><a class="dropdown-item" href="#"><span class="fa fa-cart-plus"> </span> Carts</a></li>
                        <li><a class="dropdown-item" href="#"><span class="fas fa-university"> </span> Address Book</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#"><span class="fas fa-user-cog"> </span> Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav justify-content-center">

                        <a href="/accounts/logout/" style="width:98%;" class="btn btn-light"><span class="fas fa-power-off"> </span> Logout</a>
                    </li>


                </ul>

            </div>


        {% else %}
        <button style="background:red; border-color:#418df0;">
            <a href="/accounts/login/"> <span style="color:#fff; font-size:17px;"><strong>Login</strong></span></a>
        </button>
        {% endif %}
    </nav>
    <!-- Navbar End -->




<!--block section start-->

    {% block body %}

    {% endblock %}

<!--block section start-->

<!-- Message Button -->


    {% if request.user.is_authenticated %}
    <button type="button" class="msg-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="myFunction()">
       <img src="/img/messages-icon.png" class="">
    </button>

<!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Send Message to Admin</h1>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>

                    <div class="modal-body"  style="padding: 0 0 0 0 ;">

                        <div class="msg-box" id="display" >

<!--                            <div class="my-msg">-->
<!--                               <span>We Are Professional Organic Farmers</span>-->
<!--                            </div>-->

<!--                            <div class="another-msg">-->
<!--                                <span>We Are Professional Organic Farmers</span>-->
<!--                            </div>-->

<!--                            <div class="my-msg">-->
<!--                               <span>We Are Professional Organic Farmers</span>-->
<!--                            </div>-->

<!--                            <div class="another-msg">-->
<!--                                <span>We Are Professional Organic Farmers We Are Professional Organic Farmers</span>-->
<!--                            </div>-->

                        </div>

                    </div>

                    <form id="post-form">{% csrf_token %}

                    <div class="modal-footer" >


                            <input type="hidden" name="type" id="type" value="1">
                            <textarea class="form-control" id="chat-message"
                                  placeholder="Your Message" style="width:80%; border-radius:25px;" ></textarea>

                            <button type="submit" class="btn sm-btn btn-primary" style="border-radius:10px;">Send</button>


                    </div>
                        </form>

                </div>

            </div>

        </div>

    {% else %}
    <button type="button" class="msg-btn" data-bs-toggle="modal" data-bs-target="#messageError">
       <img src="/img/messages-icon.png" class="">
    </button>
        <div class="modal fade" id="messageError" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Login Error!!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            You are not Authenticated user. For sending message to admin please login your account or register a new account.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn sm-btn btn-danger" data-bs-dismiss="modal" style="border-radius:10px;">Close</button>
            <a href="/accounts/login/" type="button" class="btn sm-btn btn-primary" style="border-radius:10px;">Login</a>
          </div>
        </div>
      </div>
    </div>

    {% endif %}
    <!--Message button-->

 <!-- Team Start -->
    <div id="team" >
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center mb-5" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase">The Team</h6>
                <h1 class="display-5">We Are Professional Organic Farmers</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <div class="row g-0">
                        <div class="col-10">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="{% static 'img/team-1.jpg' %}" alt="">
                                <div class="position-absolute start-0 bottom-0 w-100 py-3 px-4" style="background: rgba(52, 173, 84, .85);">
                                    <h4 class="text-white">Farmer Name</h4>
                                    <span class="text-white">Designation</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="h-100 d-flex flex-column align-items-center justify-content-around bg-secondary py-5">
                                <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-twitter text-secondary"></i></a>
                                <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-facebook-f text-secondary"></i></a>
                                <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-linkedin-in text-secondary"></i></a>
                                <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-instagram text-secondary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="row g-0">
                        <div class="col-10">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="{% static 'img/team-2.jpg' %}" alt="">
                                <div class="position-absolute start-0 bottom-0 w-100 py-3 px-4" style="background: rgba(52, 173, 84, .85);">
                                    <h4 class="text-white">Farmer Name</h4>
                                    <span class="text-white">Designation</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="h-100 d-flex flex-column align-items-center justify-content-around bg-secondary py-5">
                                <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-twitter text-secondary"></i></a>
                                <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-facebook-f text-secondary"></i></a>
                                <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-linkedin-in text-secondary"></i></a>
                                <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-instagram text-secondary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="row g-0">
                        <div class="col-10">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="{% static 'img/team-3.jpg' %}" alt="">
                                <div class="position-absolute start-0 bottom-0 w-100 py-3 px-4" style="background: rgba(52, 173, 84, .85);">
                                    <h4 class="text-white">Farmer Name</h4>
                                    <span class="text-white">Designation</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="h-100 d-flex flex-column align-items-center justify-content-around bg-secondary py-5">
                                <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-twitter text-secondary"></i></a>
                                <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-facebook-f text-secondary"></i></a>
                                <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-linkedin-in text-secondary"></i></a>
                                <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-instagram text-secondary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Team End -->


    <!-- Blog Start -->
   <div id="blg">
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center mb-5" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase">Our Blog</h6>
                <h1 class="display-5">Latest Articles From Our Blog Post</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4">
                    <div class="blog-item position-relative overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}" alt="">
                        <a class="blog-overlay" href="">
                            <h4 class="text-white">Lorem elitr magna stet eirmod labore amet</h4>
                            <span class="text-white fw-bold">Jan 01, 2050</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item position-relative overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/blog-2.jpg' %}" alt="">
                        <a class="blog-overlay" href="">
                            <h4 class="text-white">Lorem elitr magna stet eirmod labore amet</h4>
                            <span class="text-white fw-bold">Jan 01, 2050</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item position-relative overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/blog-3.jpg' %}" alt="">
                        <a class="blog-overlay" href="">
                            <h4 class="text-white">Lorem elitr magna stet eirmod labore amet</h4>
                            <span class="text-white fw-bold">Jan 01, 2050</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
    <!-- Blog End -->

    <!-- Message Button -->


    <!-- Footer Start -->

    <div class="container-fluid bg-footer bg-primary text-white mt-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-8 col-md-6">
                    <div class="row gx-5">
                        <div class="col-lg-4 col-md-12 pt-5 mb-5">
                            <h4 class="text-white mb-4">Get In Touch</h4>
                            <div class="d-flex mb-2">
                                <i class="bi bi-geo-alt text-white me-2"></i>
                                <p class="text-white mb-0">{{condt.location}}</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-envelope-open text-white me-2"></i>
                                <p class="text-white mb-0">{{condt.email}}</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-telephone text-white me-2"></i>
                                <p class="text-white mb-0">{{condt.number}}</p>
                            </div>
                            <div class="d-flex mt-4">
                                <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-secondary btn-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <h4 class="text-white mb-4">Quick Links</h4>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Home</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>About Us</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Our Services</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Meet The Team</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Latest Blog</a>
                                <a class="text-white" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Contact Us</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <h4 class="text-white mb-4">Popular Links</h4>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Home</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>About Us</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Our Services</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Meet The Team</a>
                                <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Latest Blog</a>
                                <a class="text-white" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-n5">
                    <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-secondary p-5">
                        <h4 class="text-white">Newsletter</h4>
                        <h6 class="text-white">Subscribe Our Newsletter</h6>
                        <p>Amet justo diam dolor rebum lorem sit stet sea justo kasd</p>

                            <div class="input-group">
                                <input type="text" class="form-control border-white p-3" placeholder="Your Email">
                                <button class="btn btn-primary">Sign Up</button>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white py-4">
        <div class="container text-center">
            <p class="mb-0">&copy; <a class="text-secondary fw-bold" href="#">Your Site Name</a>. All Rights Reserved. Designed by <a class="text-secondary fw-bold" href="https://htmlcodex.com">HTML Codex</a></p>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    {% if request.user.is_authenticated %}
        <script type="text/javascript">
          $(document).on('submit','#post-form',function(e){
            e.preventDefault();

            $.ajax({
              type:'POST',
              url:'/save-message/',
              data:{
                  message:$('#chat-message').val(),
                  type:$('#type').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
              },
              success: function(data){
                 //alert(data)
              }
            });
            document.getElementById('chat-message').value = ''
          });
        </script>
        <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>


        <script>
        $(document).ready(function(){

        setInterval(function(){
            $.ajax({
                type: 'GET',
                url : "/get-message/",
                success: function(response){
                        //
                    $("#display").empty();
                    for (var key in response.messages)
                    {
                        if (response.messages[key].type == 1) {
                            var temp="<div class='my-msg'><span>"+response.messages[key].message+"</span></div>";
                        }
                        if (response.messages[key].type == 0) {

                            var temp="<div class='another-msg'><span>"+response.messages[key].message+"</span></div>";

                        }

                        $("#display").append(temp);

                        if (response.numberOfmsg == response.count ){
                            var objDiv = document.getElementById('display');
                            objDiv.scrollTop = objDiv.scrollHeight
                        }

                    }
                },

            });
        },500);
        })

        </script>

<!--        <script>-->

<!--        -->
<!--        function myFunction() {-->
<!--            var objDiv = document.getElementById('display');-->
<!--            objDiv.scrollTop = objDiv.scrollHeight-->
<!--        }-->
<!--        </script>-->
    <script>

        $(document).ready(function(){
            $('.msg-box').scrollTop( $('.msg-box')[0].scrollHeight );
        });

    </script>

    {% endif %}

    {% block script %} {% endblock %}
</body>

</html>